<template id="AlbumPage.vue">
  <v-ons-page style="margin-top: 15%">
    <h2 v-show="items.length < 1" id="emptyMsg">No Images</h2>
    <div>
      <v-ons-card v-for="item in items" :key="item.id" @click="toImgPage(item.id, item.url)">
        <img :src="item.url" style="width: 100%">
      </v-ons-card>
    </div>

    <v-ons-fab
      style="background-color: #FA863A; color: white;"
      position="bottom right"
      v-show="isOwner"
      @click="push"
    >
      <v-ons-icon icon="md-plus"></v-ons-icon>
    </v-ons-fab>

    <v-ons-dialog
      :visible.sync="dialogVisible"
    >
      <div v-show="isSuccess">
        <h5>Upload Success</h5>
        <v-ons-card v-for="item in uploadedFiles" :key="item">
          <img :src="item" style="width: 100%">
        </v-ons-card>
      </div>

      <div v-show="isFailed">
        <!--FAILED-->
        <h2>Uploaded failed.</h2>
        <p>
          <a href="javascript:void(0)" @click="reset()">Try again</a>
        </p>
        <pre>{{ uploadError }}</pre>
      </div>

      <div>
        <!--UPLOAD-->
        <form enctype="multipart/form-data" novalidate v-if="isInitial || isSaving">
          <div class="dropbox">
            <input type="file" multiple :name="uploadFieldName" :disabled="isSaving" @change="onFileChanged" accept="image/*" class="input-file">
            <p v-if="isInitial">
              Tab to browse image(s)
            </p>
            <p v-if="isSaving">
              Uploading files...
            </p>
          </div>
        </form>
      </div>

      <p style="text-align: center">
        <v-ons-button v-if="currentStatus === 0" style="margin: 6px 0" @click="closeDialog">Cancel</v-ons-button>
        <v-ons-button v-if="currentStatus === 2 || currentStatus === 3" style="margin: 6px 0" @click="closeDialog">Done</v-ons-button>
      </p>
    </v-ons-dialog>
  </v-ons-page>
</template>

<script>
  import {auth, db} from '../firebase'
  import ImagePage from './ImagePage'
  const STATUS_INITIAL = 0, STATUS_SAVING = 1, STATUS_SUCCESS = 2, STATUS_FAILED = 3
  export default {
    name: 'AlbumPage',
    props: {
      albumId: "",
      courseId: "",
      albumName: "",
      albumOwner: "",
      ownerId: "",
      ownerName: "",
    },
    data () {
      return {
        items: [],
        isOwner: false,
        dialogVisible: false,
        uploadedFiles: [],
        uploadError: null,
        currentStatus: STATUS_INITIAL,
        uploadFieldName: 'images',
      }
    },
    mounted () {
      this.isOwner = this.ownerId === auth.currentUser.uid
      let courseId = this.courseId;
      let albumId = this.albumId;
      let albumRef = db.ref('albums/' + courseId + "/" + albumId + "/images");
      albumRef.on('child_added', snapshot => {
        let val = snapshot.val();
        let imgObj = { url: val.link, id: snapshot.key, imgPath: "image/" + snapshot.key};
        this.items.push(imgObj);
      });
      this.$store.dispatch('pushToolbarMsg', this.albumName);
    },
    methods: {
      toImgPage(imgId, url) {
        this.$emit('push-page', {
          extends: ImagePage,
          onsNavigatorProps: {
            // **pass function or data to next component via props**
            // eg.
            // foo(bar) {
            //  ...
            // }
            // or
            // myData: 123
            imgId: imgId,
            url: url
          }
        });
      },
      push() {
        this.dialogVisible = true
      },
      reset() {
        // reset form to initial state
        this.currentStatus = STATUS_INITIAL
        this.uploadedFiles = []
        this.uploadError = ''
      },
      onFileChanged () {
        const files = event.target.files
        if (!files.length) return
        this.save(files)
      },
      save (files) {
        this.currentStatus = STATUS_SAVING
        Array.from(Array(files.length).keys()).map( x => {
          this.$store.dispatch('uploadImage', files[x]).then((snapshot) => {
            this.onSaveSuccess(snapshot.metadata.fullPath)
          }).catch((error) => {
            this.uploadError = error
            this.currentStatus = STATUS_FAILED
          })
        })
      },
      onSaveSuccess (url) {
        this.$store.dispatch('getImage', url).then((downloadable) => {
          this.uploadedFiles.push(downloadable)
        })
        this.currentStatus = STATUS_SUCCESS
      },
      closeDialog () {
        this.dialogVisible = false;
        if( this.isOwner ){
          this.uploadedFiles.forEach(l => {
            db.ref("albums/" + this.courseId +"/" + this.albumId + "/images/").push({
              link: l
            });
          });
        }
        this.reset()
      }
    },
    computed: {
      isInitial() {
        return this.currentStatus === STATUS_INITIAL;
      },
      isSaving() {
        return this.currentStatus === STATUS_SAVING;
      },
      isSuccess() {
        return this.currentStatus === STATUS_SUCCESS;
      },
      isFailed() {
        return this.currentStatus === STATUS_FAILED;
      },
      // isOwner() {
      //   return this.ownerId === auth.currentUser.uid
      // }
    },
  }
</script>

<style>
  .dropbox {
    outline: 2px dashed grey; /* the dash box */
    outline-offset: -10px;
    background: lightcyan;
    color: dimgray;
    padding: 10px 10px;
    min-height: 200px; /* minimum height */
    position: relative;
    cursor: pointer;
  }

  .input-file {
    opacity: 0; /* invisible but it's there! */
    width: 100%;
    height: 200px;
    position: absolute;
    cursor: pointer;
  }

  .dropbox:hover {
    background: lightblue; /* when mouse over to the drop zone, change color */
  }

  .dropbox p {
    font-size: 1.2em;
    text-align: center;
    padding: 50px 0;
  }

  #emptyMsg {
    color: #6d6d72;
    text-align: center;
    margin-top: 10%;
  }
</style>
