<template>
  <v-ons-page>
    <v-ons-toolbar>
      <div class="center">{{title}}</div>
    </v-ons-toolbar>

    <v-ons-tabbar position="auto" :tabs="tabs" :index.sync="activeIndex">
      <template slot="pages">
        <component v-for="tab in tabs" :is="tab.page" :key="tab.label" :page-stack="pageStack"></component>
      </template>
    </v-ons-tabbar>
  </v-ons-page>
</template>

<script>
  import HomePage from './HomePage'
  import ProfilePage from './ProfilePage'

  export default {
    name: 'AppTabbar',
    data() {
      return {
        activeIndex: 0,
        tabs: [
          {
            icon: 'md-home',
            label: 'Home',
            page: HomePage
          },
          {
            icon: 'md-account-box',
            label: 'Profile',
            page: ProfilePage
          }
        ]
      }
    },
    props: ['pageStack'],
    computed: {
      title() {
        return this.tabs[this.activeIndex].label;
      }
    }
  }

</script>
