<template id="CoursePage.vue">
  <v-ons-page style="margin-top: 15%">
    <h2 v-show="albums.length < 1" id="emptyMsg">No Albums</h2>
    <div>
      <v-ons-card v-for="a in albums" :key="a.albumId" @click="toAlbumPage(a.albumId, a.name, a.ownerName, a.ownerId)">
        {{a.name}}
      </v-ons-card>
    </div>
    <v-ons-fab
      style="background-color: #FA863A; color: white;"
      position="bottom right"
      :visible="fabVisible"
      @click="push"
    >
      <v-ons-icon icon="md-plus"></v-ons-icon>
    </v-ons-fab>
  </v-ons-page>
</template>


<script>
  import {auth, db} from '../firebase'
  import CreateAlbumPage from './CreateAlbumPage'
  import AlbumPage from './AlbumPage'
  export default {
    name: 'CoursePage',
    components: {
      CreateAlbumPage,
      AlbumPage
    },
    props: {
      courseName: "",
      courseId: "",
    },
    data () {
      return {
        title: 'courses',
        fabVisible: true,
        albums: []
      }
    },
    mounted () {
      let albumRef = db.ref('albums/' + this.courseId + '/')
      albumRef.on('child_added', snapshot => {
        let val = snapshot.val();
        let albumObj = { name: val.albumName, ownerName: val.ownerName, ownerId: val.ownerId,
                          courseId: this.courseId, albumId: snapshot.key};
        this.albums.push(albumObj)
      });
      this.$store.dispatch('pushToolbarMsg', this.courseName)
    },
    methods: {
      push() {
         this.$emit('push-page', {
           extends: CreateAlbumPage,
           onsNavigatorProps: {
             // **pass function or data to next component via props**
             // eg.
             // foo(bar) {
             //  ...
             // }
             // or
             // myData: 123
             courseId: this.courseId
           }
         });
//        this.$emit('push-page', CoursePage)
      },
      toAlbumPage(id, name, ownerName, ownerId) {
        this.$emit('push-page', {
          extends: AlbumPage,
          onsNavigatorProps: {
            albumId: id,
            courseId: this.courseId,
            albumName: name,
            ownerName: ownerName,
            ownerId: ownerId
          }
        });
      }
    }
  }

</script>

<style>
  #emptyMsg {
    color: #6d6d72;
    text-align: center;
    margin-top: 10%;
  }
</style>
