<template>
  <v-ons-page style="margin-top: 15%">
    <div class="center">
      <v-ons-input placeholder="Album Name" float
                   v-model="albumName"
                   id="albumName"
      >
      </v-ons-input>

      <div v-show="isSuccess">
        <v-ons-card v-for="item in uploadedFiles" :key="item">
          <img :src="item" style="width: 100%">
        </v-ons-card>
      </div>

      <div v-show="isFailed">
        <!--FAILED-->
        <h2>Uploaded failed.</h2>
        <p>
          <a href="javascript:void(0)" @click="reset()">Try again</a>
        </p>
        <pre>{{ uploadError }}</pre>
      </div>

      <div id="uploader">
        <!--UPLOAD-->
        <form enctype="multipart/form-data" novalidate v-if="isInitial || isSaving">
          <div class="dropbox">
            <input type="file" multiple :name="uploadFieldName" :disabled="isSaving" @change="onFileChanged" accept="image/*" class="input-file">
            <p v-if="isInitial">
              Tab to browse image(s)
            </p>
            <p v-if="isSaving">
              Uploading files...
            </p>
          </div>
        </form>
      </div>

      <p v-show="formHasError" id="errorMsg">Please fill in album name</p>

      <p style="text-align: center">
        <v-ons-button style="margin: 6px 0" @click="createAlbum">Create</v-ons-button>
        <v-ons-button style="margin: 6px 0" @click="cancel">Cancel</v-ons-button>
      </p>

    </div>
  </v-ons-page>

</template>

<script>
  import {db, auth} from '../firebase'

  const STATUS_INITIAL = 0, STATUS_SAVING = 1, STATUS_SUCCESS = 2, STATUS_FAILED = 3

  export default {
    name: 'CreateAlbumPage',
    props: {
      isDialogOpen: false,
      courseId: ""
    },
    data() {
      return {
        uploadedFiles: [],
        uploadError: null,
        currentStatus: STATUS_INITIAL,
        uploadFieldName: 'images',
        albumName: '',
        hasImage: false,
        image: null,
        formHasError: false
      }
    },
    computed: {
      isInitial() {
        return this.currentStatus === STATUS_INITIAL;
      },
      isSaving() {
        return this.currentStatus === STATUS_SAVING;
      },
      isSuccess() {
        return this.currentStatus === STATUS_SUCCESS;
      },
      isFailed() {
        return this.currentStatus === STATUS_FAILED;
      }
    },
    methods: {
      reset() {
        // reset form to initial state
        this.currentStatus = STATUS_INITIAL
        this.uploadedFiles = []
        this.uploadError = ''
        this.albumName = ''
        this.formHasError = false
      },
      onFileChanged () {
        const files = event.target.files
        if (!files.length) return
        this.save(files)
      },
      save (files) {
        this.currentStatus = STATUS_SAVING
        Array.from(Array(files.length).keys()).map( x => {
          this.$store.dispatch('uploadImage', files[x]).then((snapshot) => {
            this.onSaveSuccess(snapshot.metadata.fullPath)
          }).catch((error) => {
            this.uploadError = error
            this.currentStatus = STATUS_FAILED
          })
        })
      },
      onSaveSuccess (url) {
        this.$store.dispatch('getImage', url).then((downloadable) => {
          this.uploadedFiles.push(downloadable)
        })
        this.currentStatus = STATUS_SUCCESS
      },
      createAlbum () {
        if (this.albumName === ""){
          this.formHasError = true
        } else {
          const name = auth.currentUser.displayName;
          const id = auth.currentUser.uid;
          const albumRef = db.ref("albums/" + this.courseId +"/").push({
            albumName: this.albumName,
            ownerName: name,
            ownerId: id,
          });
          const albumId = albumRef.key;
          this.uploadedFiles.forEach(l => {
            db.ref("albums/" + this.courseId +"/" + albumId + "/images/").push({
              link: l
            });
          });
          this.reset();
          // pop stack here
          this.$emit('pop')
        }
      },
      cancel () {
        this.reset();
        this.$emit('pop');
      }
    },
    mounted() {
      this.reset();
      this.$store.dispatch('changeToolbarMsg', "Create Album")
    }
  }

</script>

<style>
  .dropbox {
    outline: 2px dashed grey; /* the dash box */
    outline-offset: -10px;
    background: lightcyan;
    color: dimgray;
    padding: 10px 10px;
    min-height: 200px; /* minimum height */
    position: relative;
    cursor: pointer;
  }

  .input-file {
    opacity: 0; /* invisible but it's there! */
    width: 100%;
    height: 200px;
    position: absolute;
    cursor: pointer;
  }

  .dropbox:hover {
    background: lightblue; /* when mouse over to the drop zone, change color */
  }

  .dropbox p {
    font-size: 1.2em;
    text-align: center;
    padding: 50px 0;
  }

  #albumName {
    margin-top: 5%;
    margin-left: 3%;
    margin-bottom: 5%;
  }

  #uploader {
    margin-bottom: 5%;
  }

  #buttons {
    align-content: center;
  }
</style>
