<template id="EditDisplayName">
  <v-ons-page style="margin-top: 15%">
    <ons-row class="center">
      <ons-col style="text-align: center; margin-top: 30px;">
        <h3>Change Display Name:</h3>
        <p><v-ons-input placeholder="Display Name" float
                     type="text"
                     modifier="underbar"
                     v-model="newDisplayName"
          >
          </v-ons-input>
        </p>
        <p style="margin-top: 30px;">
          <ons-button @click="changeDisplayName">save</ons-button>
        </p>
      </ons-col>
    </ons-row>
  </v-ons-page>
</template>

<script>
  import ProfilePage from './ProfilePage'
  export default {
    name: 'EditDisplayName',
    data () {
      return {
        newDisplayName: ''
      }
    },
    methods: {
      changeDisplayName () {
        this.$store.dispatch('changeDisplayName',
          { newDisplayName: this.newDisplayName }).then((result) => {
            this.$emit('push-page', ProfilePage)
          }).catch((error) => {
            alert(error)
          })
      }
    }
  }

</script>
