<template id="EditEmail">
  <v-ons-page style="margin-top: 15%">
    <div v-if="otherLogin">
      <div class="alert-dialog-mask alert-dialog-mask--material"></div>
        <div class="alert-dialog alert-dialog--material">
          <div class="alert-dialog-container alert-dialog-container--material">
            <div class="alert-dialog-title alert-dialog-title--material">
              Sorry!
            </div>
            <div class="alert-dialog-content alert-dialog-content--material">
              You cannot change your email when signed in with Facebook or Google.
            </div>
            <div class="alert-dialog-footer alert-dialog-footer--material">
              <button class="alert-dialog-button alert-dialog-button--material"
                      @click="goBack">OK</button>
            </div>
          </div>
        </div>
    </div>
    <ons-row class="center">
      <ons-col style="text-align: center; margin-top: 30px;">
        <h3>Change Email:</h3>
        <p><v-ons-input placeholder="New Email" float
                     type="email"
                     modifier="underbar"
                     v-model="newEmail"
          >
          </v-ons-input>
        </p>
        <p><v-ons-input placeholder="Enter your password" float
                     type="password"
                     modifier="underbar"
                     v-model="curPassword"
          >
          </v-ons-input>
        </p>
        <p style="margin-top: 30px;">
          <ons-button @click="changeEmail">save</ons-button>
        </p>
      </ons-col>
    </ons-row>
  </v-ons-page>
</template>

<script>
  export default {
    name: 'EditEmail',
    data () {
      return {
        newEmail: '',
        curPassword: ''
      }
    },
    methods: {
      changeEmail () {
        this.$store.dispatch('changeEmail',
          { newEmail: this.newEmail, curPassword: this.curPassword }).then((result) => {
            this.$emit('pop')
          }).catch((error) => {
            this.$ons.notification.alert(error)
          })
      },
      goBack() {
        this.$emit('pop')
      }
    },
    computed: {
      otherLogin () {
        return this.$store.state.fblogin || this.$store.state.gglogin
      }
    }
  }

</script>
