<template id="ForgetPassPage">
  <v-ons-page>
    <v-ons-toolbar style="background-color: #FA863A;">
      <div class="left">
        <v-ons-back-button style="color: white;">Back</v-ons-back-button>
      </div>
      <div class="center" style="color: white;">Forget Password</div>
    </v-ons-toolbar>
    <ons-row class="center">
      <ons-col style="text-align: center; margin-top: 30px;">
        <h3>Please enter your email:</h3>
        <p><v-ons-input placeholder="Email" float
                     type="email"
                     modifier="underbar"
                     v-model="email"
          >
          </v-ons-input>
        </p>
        <p style="margin-top: 30px;">
          <ons-button @click="resetPassword" style="color:white; background-color: #E66B41;">Submit</ons-button>
        </p>
      </ons-col>
    </ons-row>
  </v-ons-page>
</template>

<script>
  export default {
    name: 'ForgetPassPage',
    data () {
      return {
        email: null
      }
    },
    methods: {
      resetPassword () {
        if (this.email != null) {
          this.$store.dispatch('resetPassword', { email: this.email }).then(() => {
            this.$ons.notification.alert('Please check your email.')
            this.$emit('pop')
          }).catch((error) => {
            alert(error)
          })
        } else {
          this.$ons.notification.alert('Please enter your email')
        }


      }
    }
  }

</script>
