<template id="HomePage.vue">
  <v-ons-page style="margin-top: 15%">
    <h2 v-show="courses.length < 1" id="emptyMsg">No Courses</h2>
    <div>
      <v-ons-card v-for="item in courses" :key="item.id" @click="push(item.id, item.course.courseName)">
           {{ item.course.courseName }}
      </v-ons-card>
    </div>
    <v-ons-fab
      style="background-color: #FA863A; color: white;"
      position="bottom right"
      :visible="fabVisible"
      @click="dialogVisible = true"
    >
      <v-ons-icon icon="md-plus"></v-ons-icon>
    </v-ons-fab>

    <v-ons-dialog
      :visible.sync="dialogVisible"
    >
      <p style="text-align: center">Create Course</p>
      <v-ons-list>
        <v-ons-list-item modifier="nodivider">
          <div class="center">
            <v-ons-input placeholder="Course Name" float
                         v-model="courseName"
            >
            </v-ons-input>
          </div>
        </v-ons-list-item>
        <v-ons-list-item modifier="nodivider">
          <div class="center">
            <v-ons-input placeholder="Course Code" float
                         v-model="courseCode"
            >
            </v-ons-input>
          </div>
        </v-ons-list-item>

        <p v-show="formHasError" id="errorMsg">Please fill in all inputs</p>

        <v-ons-button modifier="quiet" style="margin: 6px 0" @click="create">Create</v-ons-button>
        <v-ons-button modifier="quiet" style="margin: 6px 0" @click="cancel">Cancel</v-ons-button>
      </v-ons-list>

    </v-ons-dialog>

  </v-ons-page>

</template>

<script>
  import CoursePage from './CoursePage'
  import LoginPage from './LoginPage'
  import {auth, db} from '../firebase'
  export default {
    name: 'HomePage',
    props: ['toggleMenu'],
    data () {
      return {
        dialogVisible: false,
        fabVisible: true,
        courseName: "",
        courseCode: "",
        courses: [],
        formHasError: false,
      }
    },
    components: {
      CoursePage,
    },
    mounted () {
      let coursesRef = db.ref('courses/');
      coursesRef.on('child_added', snapshot => {
        let courseObj = { course: snapshot.val(), id: snapshot.key };
        this.courses.push(courseObj);
      });
      this.$store.dispatch('pushToolbarMsg', "Dashboard");
    },
    methods: {
      push(id, courseName) {
         this.$emit('push-page', {
           extends: CoursePage,
           onsNavigatorProps: {
             // **pass function or data to next component via props**
             // eg.
             // foo(bar) {
             //  ...
             // }
             // or
             // myData: 123
             courseName: courseName,
             courseId: id
           }
         });
      },
      clear() {
        this.courseName = "";
        this.courseCode = "";
        this.formHasError = false;
      },
      cancel() {
        this.dialogVisible = false;
        this.clear();
      },
      create() {
        if (this.courseName === "" && this.courseCode === "") {
          this.formHasError = true
        } else {
          db.ref('courses/').push({
            courseName: this.courseName,
            courseCode: this.courseCode
          });
          this.dialogVisible = false;
          this.clear();
        }
      },
      fetchData() {
        let coursesRef = db.ref('courses/');
        coursesRef.once("value").then((snapshot) => {
            this.courses = [];
            snapshot.forEach((childSnapshot) => {
            var key = childSnapshot.key;
            var childData = childSnapshot.val();
            var courseObj = { course: childData, id: key };
            this.courses.push(courseObj);
          });
        });

      }
    },
    computed: {
      isAuthenticated () {
        return this.$store.getters.isAuthenticated
      }
    }
  }

</script>

<style>
  #emptyMsg {
    color: #6d6d72;
    text-align: center;
    margin-top: 10%;
  }

  #errorMsg {
    color: brown;
    margin-left: 5%;
  }
</style>
