<template id="ImagePage">
  <v-ons-page style="margin-top: 15%">
    <p style="text-align: center; color: red;">Double tab to draw new point or to select a point</p>
    <div class="left">
      <canvas
        ref="canvas"
        @mouseup="mouseup"
      ></canvas>
    </div>

    <v-ons-dialog
      :visible.sync="dialogVisible"
    >
      <p style="text-align: center">Comments</p>
      <p style="text-align: center">
        <textarea class="textarea"
                  rows="3"
                  placeholder="Textarea"
                  :disabled="!isEditing"
                  v-model="editedComment"
        >
        </textarea>
      </p>
      <div style="text-align: center">
        <v-ons-button v-if="isEditing" style="margin: 6px 0" @click="save">Save</v-ons-button>
        <v-ons-button v-if="(isOwner || isNew) && !isEditing" style="margin: 6px 0" @click="toggleEdit">Edit</v-ons-button>
        <v-ons-button v-if="isOwner" style="margin: 6px 0" @click="rm">Delete</v-ons-button>
        <v-ons-button style="margin: 6px 0" @click="cancel">Cancel</v-ons-button>
      </div>
    </v-ons-dialog>
  </v-ons-page>
</template>

<script>
  import {auth, db} from '../firebase'
  export default {
    name: 'ImagePage',
    props: ['url', 'imgId'],
    components: {
    },
    mounted () {
      this.physicalScreenWidth = screen.width
      this.physicalScreenHeight = screen.height
      this.canvas = this.$refs.canvas
      this.context = this.canvas.getContext('2d')

      this.getImgSize(this.url, (result) => {
        const ratio = this.calculateProportionalAspectRatio(result.width, result.height, this.physicalScreenWidth, this.physicalScreenHeight)
        this.imageWidthRatio = result.width * ratio -2
        this.imageHeightRatio = result.height * ratio
        this.image = result.image

        this.canvas.width = this.imageWidthRatio
        this.canvas.height = this.imageHeightRatio
        this.context.drawImage(result.image, 0, 0, this.canvas.width, this.canvas.height);

        let commentRef = db.ref('comments/' + this.imgId + "/");
        commentRef.on('child_added', snapshot => {
          let val = snapshot.val();
          let commentObj = { x: val.x, owner: val.uid, y: val.y, show: false, commentId: snapshot.key};
          this.context.save()
          this.drawNode(commentObj)
          this.context.restore()
          this.points.push(commentObj);
        })
      })
    },
    data () {
      return {
        canvas: {},
        context: {},
        currentPoint: null,
        pointSize: 10,
        strokeStyle: '#049dff',
        selectedStrokeStyle: '#ff9e27',
        points: [],
        dialogVisible: false,
        isEditing: false,
        isNew: false,
        comment: '',
        editedComment: '',
        owner: '',
        commentId: '',
        imageWidthRatio: 0,
        imageHeightRatio: 0,
        physicalScreenWidth: 0,
        physicalScreenHeight: 0,
        image: null
      }
    },
    methods: {
      removePoint (selectedPoint) {
        this.points.forEach((point, index) => {
          if (this.matchPoints(selectedPoint, point)) {
            this.removePointByIndex(index)
          }
        })
      },
      removePointByIndex (index) {
        this.points.splice(index, 1)
        this.clearCanvas()
        this.drawAllNodes()
      },
      matchPoints (checkPoint, mousePoint) {
        if (mousePoint.x > checkPoint.x + this.pointSize) {
          return false
        }

        if (mousePoint.x < checkPoint.x - this.pointSize) {
          return false
        }

        if (mousePoint.y > checkPoint.y + this.pointSize) {
          return false
        }

        if (mousePoint.y < checkPoint.y - this.pointSize) {
          return false
        }
        return true
      },
      clearCanvas () {
        this.context.clearRect(0, 0, this.imageWidthRatio, this.imageHeightRatio)
        this.drawCanvas()
      },
      drawCanvas () {
        this.context.drawImage(this.image, 0, 0, this.imageWidthRatio, this.imageHeightRatio);
      },
      clearPoints () {
        this.points = []
        this.clearCanvas()
      },
      getMousePos (evt) {
        // https://stackoverflow.com/questions/17130395/real-mouse-position-in-canvas
        var rect = this.context.canvas.getBoundingClientRect()
        return {
          x: parseInt((evt.clientX - rect.left) / (rect.right - rect.left) * this.imageWidthRatio),
          y: parseInt((evt.clientY - rect.top) / (rect.bottom - rect.top) * this.imageHeightRatio)
        }
      },
      mouseup (event) {
        let mouseUpPoint = this.getMousePos(event)
        this.currentPoint = mouseUpPoint
        if (!this.isMouseOnNode(mouseUpPoint)) {
          this.addNode(mouseUpPoint)
        } else {
          this.isNew = false
        }
        this.changeShowNode(mouseUpPoint)
        this.drawAllNodes()
      },
      changeShowNode (prevPoint) {
        this.points.map((point, index) => {
          if (this.matchPoints(point, prevPoint)) {
            this.getComment(point.commentId)
            this.dialogVisible = true
          }
        })
      },
      isMouseOnNode (point) {
        return this.selectedPoint(point) !== null
      },
      selectedPoint (point) {
        for (var iteratedPoint of this.points) {
          if (this.matchPoints(iteratedPoint, point)) {
            return iteratedPoint
          }
        }
        return null
      },
      addNode (point) {
        this.context.save()
        this.drawNode(point)
        this.context.restore()
        this.points.push(this.createEmptyNode(point))
        this.isNew = true
      },
      drawNode (point) {
        this.context.beginPath()
        this.context.moveTo(point.x - this.pointSize, point.y - this.pointSize)
        this.context.lineTo(point.x - this.pointSize, point.y + this.pointSize)
        this.context.lineTo(point.x + this.pointSize, point.y + this.pointSize)
        this.context.lineTo(point.x + this.pointSize, point.y - this.pointSize)
        this.context.lineTo(point.x - this.pointSize, point.y - this.pointSize)
        if (this.currentPoint === null || !this.matchPoints(this.currentPoint, point)) {
          this.context.strokeStyle = this.strokeStyle
        } else {
          this.context.strokeStyle = this.selectedStrokeStyle
        }
        this.context.stroke()
      },
      drawAllNodes () {
        this.context.save()
        for (let point of this.points) {
          this.drawNode(point)
        }
        this.context.restore()
      },
      createEmptyNode (point) {
        return {x: point.x, y: point.y, show: true, commentId: '', owner: ''}
      },
      getImgSize(url, callback) {
        const image = new Image()
        image.onload = function() {
          callback({image: image, 'width': image.width, 'height': image.height})
        }
        image.src = url
      },
      toggleEdit () {
        this.isEditing = !this.isEditing
      },
      getComment (commentId) {
        // get comment and uid from db, if not exist this.comment = '' | this.owner = ''
        // else this.comment = db_comment, editedComment = db_comment, owner = db_uid
        let commentRef = db.ref('comments/' + this.imgId + "/" + commentId);
        commentRef.on('value', snapshot => {
          let val = snapshot.val();
          if (val !== null) {
            this.comment = val.comment
            this.editedComment = val.comment
            this.commentId = commentId
            this.owner = val.uid
          }
        });
      },
      save () {
        // save comment to db and set this.id = comment.id
        if (this.isNew) {
          // push
          const uid = auth.currentUser.uid
          db.ref('comments/' + this.imgId + "/").push({
            x: this.currentPoint.x,
            y: this.currentPoint.y,
            comment: this.editedComment,
            uid: uid
          });
          this.comment = this.editedComment
          this.isNew = false
          this.owner = uid
          this.removePoint(this.currentPoint)
        } else {
          // update
          db.ref('comments/' + this.imgId + "/" + this.commentId + "/").update({
            comment: this.editedComment,
          });
        }
        this.clearStates()
        this.clearCanvas()
        this.drawAllNodes()
      },
      rm () {
        // delete comment from db based on comment.id
        db.ref('comments/' + this.imgId + "/" + this.commentId + "/").remove()
        this.removePoint(this.currentPoint)
        this.clearStates()
      },
      cancel () {
        if (this.isNew) {
          // delete point
          this.removePoint(this.currentPoint)
          this.clearStates()
        } else {
          // clear state
          this.isEditing = false
          this.owner = ''
          this.editedComment = this.comment
          this.currentPoint = null
          this.clearCanvas()
          this.drawAllNodes()
        }
        this.dialogVisible = false
      },
      clearStates() {
        this.owner = ''
        this.comment = ''
        this.editedComment = ''
        this.isEditing = false
        this.dialogVisible = false
        this.currentPoint = null
      },
      calculateProportionalAspectRatio (srcWidth, srcHeight, maxWidth, maxHeight) {
        return (Math.min(maxWidth / srcWidth, maxHeight / srcHeight));
      }
    },
    computed: {
      isOwner () {
        return this.owner === auth.currentUser.uid
      }
    }
  }
</script>

<style scoped>
  h1, h2 {
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }
  canvas {
    border:1px solid #bbb;
  }
  .flex{
    display: flex;
    flex-flow: row wrap;
  }
  .flex > * {
    border: 1px solid #eee;
    margin: 10px;
    padding: 10px;
  }
  .comment-col {
    width: 400px;
  }
</style>
