<template id="LoginPage">
  <v-ons-page>
    <ons-row>
      <img src="../../static/header3.png" height="100%" width="100%" style="margin-bottom: 5%; margin-top: 10%;">
    </ons-row>
    <ons-row class="center">
      <ons-col style="text-align: center;">
        <span>
          <div>
            <input
            class="text-input text-input--material"
            placeholder="Email" float
            type="email"
            modifier="underbar"
            v-model="email"
            required
            >
            </input>
          </div>
          <br/>
          <div>
            <input
              class="text-input text-input--material"
              placeholder="Password" float
              type="password"
              modifier="underbar"
              v-model="password"
              required
            >
            </input>
          </div>
        </span>
        <p style="margin-top: 30px;">
          <div v-if="loading">
            <svg class="progress-circular progress-circular--material progress-circular--indeterminate">
              <circle class="progress-circular__background progress-circular--material__background"/>
              <circle class="progress-circular__primary progress-circular--material__primary progress-circular--indeterminate__primary"/>
              <circle class="progress-circular__secondary progress-circular--material__secondary progress-circular--indeterminate__secondary"/>
            </svg>
          </div>
          <div v-else>
            <ons-button @click="userLogIn" style="background-color: #E66B41;">Sign in</ons-button>
          </div>
        </p>

        <button
          class="button--quiet forgetPass"
          @click="userSignUp">
          Create account
        </button>
        <button
          class="button--quiet forgetPass"
          @click="forgetPass">
          Forget your password?
        </button>


      </ons-col>
    </ons-row>
  </v-ons-page>
</template>

<script>
  import HomePage from './HomePage'
  import SignUpPage from './SignUpPage'
  import ForgetPassPage from './ForgetPassPage'

  export default {
    name: 'LoginPage',
    data () {
      return {
        email: '',
        password: '',
        dialog: false
      }
    },
    methods: {
      userLogIn() {
        console.log(this.email);
        this.$store.dispatch('userSignIn', { email: this.email, password: this.password }).then((result) => {
          this.$emit('pop')
          this.$emit('push-page', HomePage)
        }).catch((error) => {
          this.$ons.notification.alert('Please fill in your email and password.')
        })
      },
      userSignUp() {
        this.$emit('push-page', SignUpPage)
      },
      forgetPass () {
        this.$emit('push-page', ForgetPassPage)
      }
    },
    computed: {
      loading() {
        return this.$store.state.loading
      },
      loading2() {
        return this.$store.state.loading2
      }
    }
  }

</script>
<style>
  .forgetPass {
    font-size: 15px;
    margin-top: 0px;
  }

  hr.style1 {
    width: 35%;
    background-color: black;
    margin-left: 10%;
    margin-right: 2%;
    margin-bottom: 5%;
    padding-right: 5px;
  }

  hr.style2 {
    width: 35%;
    background-color: black;
    margin-left: 2%;
    margin-right: 10%;
    margin-bottom: 5%;
  }
</style>
