<template id="menuPage">
  <v-ons-page>
    <v-ons-list-title>
      <p style="text-align: center; padding-right: 15px;">
        <img src="../../static/header5.png" class="center" height="50%" width="50%">
      </p>
    </v-ons-list-title>
    <v-ons-list>
      <v-ons-list-item v-for="page in pages"
        tappable modifier="material"
        @click="goToPage(page.page, page.status)"
        :key="page.name"
        >
        <div class="left">
          <v-ons-icon :icon="page.icon" class="list-item__icon" style="color: #E66B41"></v-ons-icon>
        </div>
        <div class="center">{{ page.name }}</div>
      </v-ons-list-item>
    </v-ons-list>
  </v-ons-page>
</template>

<script>

import HomePage from './HomePage'
import ProfilePage from './ProfilePage'
import CreateAlbumPage from './CreateAlbumPage'
import LoginPage from './LoginPage'
import { auth, db } from '../firebase'

export default {
  name: 'MenuPage',
  props: ['goToPage'],
  components: {
    HomePage,
    ProfilePage,
    LoginPage,
    CreateAlbumPage
  },
  data () {
    return {
      pages: [
        { page: HomePage, name: "Home", status: false, icon: 'md-home'},
        { page: ProfilePage, name: "My Profile", status: false, icon: 'md-face'},
        { page: LoginPage, name: "Log out", status: true, icon: 'md-lock-open'}
      ]
    }
  },
  computed: {
    isAuthenticated() {
      return this.$store.getters.isAuthenticated
    },
    displayName() {
      return this.$store.state.user.displayName
    },
    getEmail() {
      return this.$store.state.user.email
    }
  }
}
</script>

<style scoped>
img {
  max-width: 150px;
}

ons-list-title {
  text-transform: none;
}

ons-list-item {
  cursor: pointer;
}
</style>
