<template id="ProfilePage">
  <v-ons-page style="margin-top: 15%">
    <v-ons-list-title>My Profile</v-ons-list-title>
    <v-ons-list>
      <v-ons-list-item v-for="item in items"
        tappable modifier="chevron"
        @click="push(item.page)"
        :key="item.name"
        >
        <div class="center">
          <span class="list-item__title"><b> {{ item.name }}: </b></span>
          <span class="list-item__subtitle"> {{ item.value }} </span>
        </div>
      </v-ons-list-item>
    </v-ons-list>
  </v-ons-page>
</template>

<script>
  import EditDisplayName from './EditDisplayName'
  import EditEmail from './EditEmail'
  import EditPassword from './EditPassword'
  export default {
    name: 'ProfilePage',
    data () {
      return {
        items: [
          { name: 'Display Name', value: this.$store.state.user.displayName, page: EditDisplayName },
          { name: 'Email', value: this.$store.state.user.email, page: EditEmail },
          { name: 'Password', value: '********', page: EditPassword }
        ]
      }
    },
    mounted () {
      this.$store.dispatch('pushToolbarMsg', 'Profile')
    },
    computed: {
      curDisplayName () {
        return this.$store.state.user.displayName
      },
      email () {
        return this.$store.state.user.email
      }
    },
    methods: {
      push(page) {
        this.$emit('push-page', page)
      }
    }
  }

</script>
