<template id="SignUpPage">
  <v-ons-page>
    <v-ons-toolbar style="background-color: #FA863A;">
      <div class="left">
        <v-ons-back-button style="color: white;">Back</v-ons-back-button>
      </div>
      <div class="center" style="color: white;">Sign Up</div>
    </v-ons-toolbar>
    <div style="text-align: center; margin-top: 30px;">
      <p>
        <v-ons-input
          modifier="underbar"
          placeholder="Display Name"
          type="text"
          v-model="displayName"
          float>
        </v-ons-input>
      </p>
      <p>
        <v-ons-input
          modifier="underbar"
          placeholder="Email"
          type="email"
          v-model="email"
          float>
        </v-ons-input>
      </p>
      <p>
        <v-ons-input
          modifier="underbar"
          type="password"
          placeholder="Password"
          v-model="password"
          float>
        </v-ons-input>
      </p>
      <p>
        <v-ons-input
          modifier="underbar"
          type="password"
          placeholder="Confirm Password"
          v-model="passwordConfirm"
          float>
        </v-ons-input>
      </p>
      <p style="margin-top: 30px;">
        <ons-button @click="userSignUp" style="color:white; background-color: #E66B41;">Submit</ons-button>
      </p>
    </div>
  </v-ons-page>
</template>

<script>
import LoginPage from './LoginPage'
export default {
  data () {
    return {
      displayName: null,
      email: null,
      password: null,
      passwordConfirm: null,
      alert: false
    }
  },
  computed: {
    comparePasswords () {
      return this.password === this.passwordConfirm ? true : 'Passwords don\'t match'
    },
    error () {
      return this.$store.state.error
    },
    loading () {
      return this.$store.state.loading
    }
  },
  methods: {
    userSignUp () {
      if (this.comparePasswords !== true) {
        alert('Passwords don\'t match')
        return
      }
      if (this.displayName != null && this.email != null && this.password != null && this.password != null) {
        this.$store.dispatch('userSignUp', {
          email: this.email,
          password: this.password,
          displayName: this.displayName }).then((result) => {
            this.$emit('pop')
            this.$emit('push-page', LoginPage)
          }).catch((error) => {
            alert(error)
          })
      } else {
        alert('Please fill in all the information')
      }

    }
  },
  watch: {
    error (value) {
      if (value) {
        this.alert = true
      }
    },
    alert (value) {
      if (!value) {
        this.$store.commit('setError', null)
      }
    }
  }
}
</script>
