<template>
  <v-ons-page id="app">
    <div v-show="isAuthenticated">
      <v-ons-toolbar class="home-toolbar" style="background-color: #FA863A;">
        <div class="left" >
          <v-ons-back-button v-if="$ons.platform.isIOS() && !isRootPage" @click.prevent="popPage" style="color: white;">Back</v-ons-back-button>
          <v-ons-toolbar-button v-if="$ons.platform.isAndroid()" @click="$store.commit('splitter/toggle')">
            <v-ons-icon icon="ion-navicon, material:md-menu" style="color: white;"></v-ons-icon>
          </v-ons-toolbar-button>
        </div>

        <div class="right" v-if="$ons.platform.isIOS()">
          <v-ons-toolbar-button @click="$store.commit('splitter/toggle')">
            <v-ons-icon icon="ion-navicon, material:md-menu" style="color: white;"></v-ons-icon>
          </v-ons-toolbar-button>
        </div>

        <div class="center" style="color: white;">{{ toolbarMsg }}</div>
      </v-ons-toolbar>
    </div>

    <v-ons-splitter>
      <v-ons-splitter-side
        class="splitter-side"
        v-if="isAuthenticated"
        swipeable collapse width="250px"
        :side="$ons.platform.isAndroid() ? 'left' : 'right'"
        :animation="$ons.platform.isAndroid() ? 'overlay' : 'reveal'"
        :open.sync="menuIsOpen">
        <menu-page :go-to-page="goToPage"></menu-page>
      </v-ons-splitter-side>

      <v-ons-splitter-content>
        <v-ons-navigator swipeable
                         :page-stack="pageStack"
                         @push-page="pageStack.push($event)"
                         @pop="pageStack.pop()"
        ></v-ons-navigator>
      </v-ons-splitter-content>

    </v-ons-splitter>
  </v-ons-page>
</template>

<script>
import MenuPage from './components/MenuPage'
import HomePage from './components/HomePage'
import LoginPage from './components/LoginPage'

export default {
  name: 'app',
  components: {
    MenuPage,
    HomePage,
    LoginPage
  },
  mounted () {
    document.addEventListener('backbutton', () => {
      this.$store.dispatch('popToolbarMsg')
    })
  },
  data () {
    return {
      msg: 'Welcome',
      pageStack: [LoginPage]
    }
  },
  methods: {
    goToPage(page, status) {
      if (status) {
        this.$store.dispatch('userSignOut').then(() => {
          console.log("logout")
          this.pageStack = [page]
        })
      } else {
        this.pageStack.push(page)
      }
      this.$store.commit('splitter/toggle', false)
    },
    popPage () {
      if (this.pageStack.length > 1) {
        this.$store.dispatch('popToolbarMsg')
        this.pageStack.pop()
      }
    }
  },
  computed: {
    menuIsOpen: {
      get () {
        return this.$store.state.splitter.open
      },
      set (newValue) {
        this.$store.commit('splitter/toggle', newValue)
      }
    },
    isAuthenticated () {
      return this.$store.getters.isAuthenticated
    },
    toolbarMsg () {
      return this.$store.getters.getToolbarMsg
    },
    isRootPage () {
      return this.pageStack.length === 1
    }
  }
}
</script>

<style scoped>
  ons-splitter-side[side=left][animation=overlay] {
    border-right: 1px solid #BBB;
  }
  .splitter-side {
    margin-top: 58px;
  }
</style>
